In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\ACER\Desktop\Dataset\cleaned_data.csv")

In [4]:
df.shape

(48423, 2)

In [5]:
df.columns

Index(['title', 'text'], dtype='object')

In [6]:

print((df['title'].str.len() == 0).sum(), (df['text'].str.len() == 0).sum())

0 0

In [10]:
print(df['title'].str.len().max(), df['text'].str.len().max())

2064 11913

In [11]:
new=df

In [12]:
import re

def find_special_chars(text):
    return re.findall(r'[^ँ-ःऀ-ॿ\s]', text)  # Keeps only Nepali script and spaces

new['title_special_chars'] = new['title'].apply(find_special_chars)
new['text_special_chars'] = new['text'].apply(find_special_chars)

# Display some sample rows with special characters
print(new[['title', 'title_special_chars']].head(10))
print(new[['text', 'text_special_chars']].head(10))

                                               title title_special_chars
0                 मंगल यात्रा को आशा जगाउने स्टारसिप                  []
1                           पप सम्राट्को दोस्रो इनिङ                  []
2                           आठ आरोही जन्माउने किमजुङ                  []
3                           ब्याट नं का अब्बल अधिकृत                  []
4               दैनिक जीवनको एक हिस्सा हाम्रो पात्रो                  []
5                    वर्षदेखि रंगमञ्च बनाइरहेका नायक                  []
6                                    लेकको पाहुना घर                  []
7                छोरासँगै संन्यासी भएकी सुमित्रादेवी                  []
8  प मार्न सामेलहरूको देहान्तपछि मात्रै सर्प मारे...                  []
9                      देउडाका शब्द बुन्ने राजेन्द्र                  []
                                                text text_special_chars
0  काठमाडौँ अमेरिकी अर्बपति इलन मस्कको कम्पनी स्प...                 []
1  काठमाडौँ त्यतिबेला पपलाई गफ भनिन्थ्यो पश्चिमा ...                 []
2  काठमाडौँ उनलाई के लाग्छ भने जीवन आफैंमा एक आरो...                 []
3  काठमाडौँ नेपाल सरकारको अधिकृत ब्याट बेसिक एडमि...                 []
4  काठमाडौँ केही समययता नेपालमा सूचना प्रविधि क्ष...                 []
5  काठमाडौँ मञ्चमा एउटा भव्य कोठा देखिन्छ दर्शकदी...                 []
6  पाँचथर व्यवहार बुझ्न थालेपछि फिदिम की तृष्णा र...                 []
7  काठमाडौँ बाल्यकालमा रजनीशचन्द्र मोहन प्राध्याप...                 []
8  जो आध्यात्मिक हुँदैन ऊ सुखी र खुसी हुन सक्दैन ...                 []
9  धनगढी साठीको दशकमा मुर्झाएको देउडा संगीत को दश...                 []

In [13]:
new.head(3)

,title,text,title_special_chars,text_special_chars
0,मंगल यात्रा को आशा जगाउने स्टारसिप,काठमाडौँ अमेरिकी अर्बपति इलन मस्कको कम्पनी स्प...,[],[]
1,पप सम्राट्को दोस्रो इनिङ,काठमाडौँ त्यतिबेला पपलाई गफ भनिन्थ्यो पश्चिमा ...,[],[]
2,आठ आरोही जन्माउने किमजुङ,काठमाडौँ उनलाई के लाग्छ भने जीवन आफैंमा एक आरो...,[],[]

In [14]:
# Drop the specified columns
new = new.drop(columns=['title_special_chars', 'text_special_chars'])

# Display the updated DataFrame
print(new.head())

                                  title  \
0    मंगल यात्रा को आशा जगाउने स्टारसिप
1              पप सम्राट्को दोस्रो इनिङ
2              आठ आरोही जन्माउने किमजुङ
3              ब्याट नं का अब्बल अधिकृत
4  दैनिक जीवनको एक हिस्सा हाम्रो पात्रो

                                                text
0  काठमाडौँ अमेरिकी अर्बपति इलन मस्कको कम्पनी स्प...
1  काठमाडौँ त्यतिबेला पपलाई गफ भनिन्थ्यो पश्चिमा ...
2  काठमाडौँ उनलाई के लाग्छ भने जीवन आफैंमा एक आरो...
3  काठमाडौँ नेपाल सरकारको अधिकृत ब्याट बेसिक एडमि...
4  काठमाडौँ केही समययता नेपालमा सूचना प्रविधि क्ष...

In [ ]:
new.head()

,title,text
0,मंगल यात्रा को आशा जगाउने स्टारसिप,काठमाडौँ अमेरिकी अर्बपति इलन मस्कको कम्पनी स्प...
1,पप सम्राट्को दोस्रो इनिङ,काठमाडौँ त्यतिबेला पपलाई गफ भनिन्थ्यो पश्चिमा ...
2,आठ आरोही जन्माउने किमजुङ,काठमाडौँ उनलाई के लाग्छ भने जीवन आफैंमा एक आरो...
3,ब्याट नं का अब्बल अधिकृत,काठमाडौँ नेपाल सरकारको अधिकृत ब्याट बेसिक एडमि...
4,दैनिक जीवनको एक हिस्सा हाम्रो पात्रो,काठमाडौँ केही समययता नेपालमा सूचना प्रविधि क्ष...

In [15]:
import re

# Step 1: Check for unwanted whitespaces and remove them
new['title'] = new['title'].str.strip()
new['text'] = new['text'].str.strip()

# Step 2: Check for any non-standard characters and clean them
# This will remove any characters that are not Nepali script or spaces
def clean_text(text):
    return re.sub(r'[^ँ-ःऀ-ॿ\s]', '', text)

new['title'] = new['title'].apply(clean_text)
new['text'] = new['text'].apply(clean_text)

# Step 3: Check for any empty or null values
empty_title = (new['title'].str.len() == 0).sum()
empty_text = (new['text'].str.len() == 0).sum()

if empty_title > 0 or empty_text > 0:
    print(f"\nEmpty title rows: {empty_title}, Empty text rows: {empty_text}")
else:
    print("\nNo empty rows in 'title' or 'text' columns.")

# Step 4: Check for rows with extremely short text (you can adjust the minimum length as needed)
min_length = 5  # Set minimum character length for text to be valid
short_title = (new['title'].str.len() < min_length).sum()
short_text = (new['text'].str.len() < min_length).sum()

if short_title > 0 or short_text > 0:
    print(f"\nRows with short title (<{min_length} chars): {short_title}")
    print(f"Rows with short text (<{min_length} chars): {short_text}")
else:
    print(f"\nAll titles and texts are longer than {min_length} characters.")

# Display a small sample of the cleaned data
print("\nSample cleaned data:")
print(new[['title', 'text']].head(10))

No empty rows in 'title' or 'text' columns.

Rows with short title (<5 chars): 11
Rows with short text (<5 chars): 0

Sample cleaned data:
                                               title  \
0                 मंगल यात्रा को आशा जगाउने स्टारसिप
1                           पप सम्राट्को दोस्रो इनिङ
2                           आठ आरोही जन्माउने किमजुङ
3                           ब्याट नं का अब्बल अधिकृत
4               दैनिक जीवनको एक हिस्सा हाम्रो पात्रो
5                    वर्षदेखि रंगमञ्च बनाइरहेका नायक
6                                    लेकको पाहुना घर
7                छोरासँगै संन्यासी भएकी सुमित्रादेवी
8  प मार्न सामेलहरूको देहान्तपछि मात्रै सर्प मारे...
9                      देउडाका शब्द बुन्ने राजेन्द्र

                                                text
0  काठमाडौँ अमेरिकी अर्बपति इलन मस्कको कम्पनी स्प...
1  काठमाडौँ त्यतिबेला पपलाई गफ भनिन्थ्यो पश्चिमा ...
2  काठमाडौँ उनलाई के लाग्छ भने जीवन आफैंमा एक आरो...
3  काठमाडौँ नेपाल सरकारको अधिकृत ब्याट बेसिक एडमि...
4  काठमाडौँ केही समययता नेपालमा सूचना प्रविधि क्ष...
5  काठमाडौँ मञ्चमा एउटा भव्य कोठा देखिन्छ दर्शकदी...
6  पाँचथर व्यवहार बुझ्न थालेपछि फिदिम की तृष्णा र...
7  काठमाडौँ बाल्यकालमा रजनीशचन्द्र मोहन प्राध्याप...
8  जो आध्यात्मिक हुँदैन ऊ सुखी र खुसी हुन सक्दैन ...
9  धनगढी साठीको दशकमा मुर्झाएको देउडा संगीत को दश...

In [16]:
new = new[new['title'].str.len() >= 5]

In [17]:
# Check for non-standard characters in 'title' and 'text'
def clean_text(text):
    return re.sub(r'[^ँ-ःऀ-ॿ\s]', '', text)

new['title'] = new['title'].apply(clean_text)
new['text'] = new['text'].apply(clean_text)

# Check for any empty or null values in 'title' and 'text'
empty_title = (new['title'].str.len() == 0).sum()
empty_text = (new['text'].str.len() == 0).sum()

# Check for short text (less than 5 characters in 'title' and 'text')
short_title = (new['title'].str.len() < 5).sum()
short_text = (new['text'].str.len() < 5).sum()

# Check for duplicates
duplicates = new.duplicated().sum()

# Check the data types
data_types = new.dtypes

# Output the results
print(f"Empty title rows: {empty_title}")
print(f"Empty text rows: {empty_text}")
print(f"Rows with short titles (< 5 characters): {short_title}")
print(f"Rows with short text (< 5 characters): {short_text}")
print(f"Duplicate rows: {duplicates}")
print("\nData types:")
print(data_types)

# Sample the cleaned data
print("\nSample cleaned data:")
print(new[['title', 'text']].head(10))

Empty title rows: 0
Empty text rows: 0
Rows with short titles (< 5 characters): 0
Rows with short text (< 5 characters): 0
Duplicate rows: 0

Data types:
title    object
text     object
dtype: object

Sample cleaned data:
                                               title  \
0                 मंगल यात्रा को आशा जगाउने स्टारसिप
1                           पप सम्राट्को दोस्रो इनिङ
2                           आठ आरोही जन्माउने किमजुङ
3                           ब्याट नं का अब्बल अधिकृत
4               दैनिक जीवनको एक हिस्सा हाम्रो पात्रो
5                    वर्षदेखि रंगमञ्च बनाइरहेका नायक
6                                    लेकको पाहुना घर
7                छोरासँगै संन्यासी भएकी सुमित्रादेवी
8  प मार्न सामेलहरूको देहान्तपछि मात्रै सर्प मारे...
9                      देउडाका शब्द बुन्ने राजेन्द्र

                                                text
0  काठमाडौँ अमेरिकी अर्बपति इलन मस्कको कम्पनी स्प...
1  काठमाडौँ त्यतिबेला पपलाई गफ भनिन्थ्यो पश्चिमा ...
2  काठमाडौँ उनलाई के लाग्छ भने जीवन आफैंमा एक आरो...
3  काठमाडौँ नेपाल सरकारको अधिकृत ब्याट बेसिक एडमि...
4  काठमाडौँ केही समययता नेपालमा सूचना प्रविधि क्ष...
5  काठमाडौँ मञ्चमा एउटा भव्य कोठा देखिन्छ दर्शकदी...
6  पाँचथर व्यवहार बुझ्न थालेपछि फिदिम की तृष्णा र...
7  काठमाडौँ बाल्यकालमा रजनीशचन्द्र मोहन प्राध्याप...
8  जो आध्यात्मिक हुँदैन ऊ सुखी र खुसी हुन सक्दैन ...
9  धनगढी साठीको दशकमा मुर्झाएको देउडा संगीत को दश...

In [21]:
import torch
from transformers import BertTokenizerFast
import pandas as pd
from tqdm import tqdm

# Load the mBERT tokenizer
tokenizer = BertTokenizerFast.from_pretrained("bert-base-multilingual-cased")

# Function to tokenize text with a 512-token limit
def tokenize_text(text):
    encoding = tokenizer(
        text,
        add_special_tokens=True,  # Add [CLS] and [SEP] tokens
        max_length=512,  # Limit token length
        truncation=True,  # Truncate longer texts
        padding="max_length",  # Pad to 512 tokens
        return_tensors=None  # Avoid PyTorch tensors (saves memory)
    )
    
    tokens = tokenizer.tokenize(text)[:512]  # Get tokenized words (limited to 512)
    token_ids = encoding["input_ids"]  # Get token IDs
    attention_mask = encoding["attention_mask"]  # Get attention mask

    return tokens, token_ids, attention_mask

# Enable tqdm progress bar for Pandas
tqdm.pandas()

# Apply tokenization with progress bar
new[["title_tokens", "title_token_id", "title_attention_mask"]] = new["title"].progress_apply(lambda x: pd.Series(tokenize_text(x)))
new[["text_tokens", "text_token_id", "text_attention_mask"]] = new["text"].progress_apply(lambda x: pd.Series(tokenize_text(x)))

# Save tokenized data for later use
new.to_csv("tokenized_dataset.csv", index=False)  # Saves as CSV
new.to_pickle("tokenized_dataset.pkl")  # Saves as a binary pickle file

# Show final structure
print(new.head())

  0%|          | 185/48412 [00:00<00:26, 1840.80it/s]Token indices sequence length is longer than the specified maximum sequence length for this model (545 > 512). Running this sequence through the model will result in indexing errors
100%|██████████| 48412/48412 [00:18<00:00, 2668.12it/s]
100%|██████████| 48412/48412 [03:34<00:00, 225.86it/s]

                                  title  \
0    मंगल यात्रा को आशा जगाउने स्टारसिप
1              पप सम्राट्को दोस्रो इनिङ
2              आठ आरोही जन्माउने किमजुङ
3              ब्याट नं का अब्बल अधिकृत
4  दैनिक जीवनको एक हिस्सा हाम्रो पात्रो

                                                text  \
0  काठमाडौँ अमेरिकी अर्बपति इलन मस्कको कम्पनी स्प...
1  काठमाडौँ त्यतिबेला पपलाई गफ भनिन्थ्यो पश्चिमा ...
2  काठमाडौँ उनलाई के लाग्छ भने जीवन आफैंमा एक आरो...
3  काठमाडौँ नेपाल सरकारको अधिकृत ब्याट बेसिक एडमि...
4  काठमाडौँ केही समययता नेपालमा सूचना प्रविधि क्ष...

                                      title_token_id  \
0  [101, 889, 31222, 11714, 79632, 11267, 852, 10...
1  [101, 885, 18187, 898, 45753, 31277, 14835, 28...
2  [101, 852, 35247, 107144, 13718, 24667, 25595,...
3  [101, 887, 17279, 14835, 16373, 11081, 49545, ...
4  [101, 882, 76549, 44388, 12512, 11186, 110091,...

                                title_attention_mask  \
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
1  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
2  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
3  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...
4  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...

                                       text_token_id  \
0  [101, 11081, 35247, 12347, 20691, 78530, 28462...
1  [101, 11081, 35247, 12347, 20691, 78530, 28462...
2  [101, 11081, 35247, 12347, 20691, 78530, 28462...
3  [101, 11081, 35247, 12347, 20691, 78530, 28462...
4  [101, 11081, 35247, 12347, 20691, 78530, 28462...

                                 text_attention_mask  \
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
1  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
2  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
3  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
4  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...

                                        title_tokens  \
0  [म, ##ंग, ##ल, यात्रा, को, आ, ##शा, ज, ##गा, #...
1  [प, ##प, स, ##म्, ##रा, ##ट, ##्क, ##ो, दो, ##...
2  [आ, ##ठ, आर, ##ो, ##ही, जन्म, ##ा, ##उने, कि, ...
3     [ब, ##्या, ##ट, नं, का, अब, ##्, ##बल, अधिकृत]
4  [द, ##ैनिक, जीवन, ##को, एक, हिस्सा, हा, ##म्, ...

                                         text_tokens
0  [का, ##ठ, ##मा, ##ड, ##ौ, ##ँ, अमेरिकी, अ, ##र...
1  [का, ##ठ, ##मा, ##ड, ##ौ, ##ँ, त, ##्य, ##ति, ...
2  [का, ##ठ, ##मा, ##ड, ##ौ, ##ँ, उन, ##लाई, के, ...
3  [का, ##ठ, ##मा, ##ड, ##ौ, ##ँ, नेपाल, सरकार, #...
4  [का, ##ठ, ##मा, ##ड, ##ौ, ##ँ, केही, समय, ##यत...

In [22]:
new.head()

,title,text,title_token_id,title_attention_mask,text_token_id,text_attention_mask,title_tokens,text_tokens
0,मंगल यात्रा को आशा जगाउने स्टारसिप,काठमाडौँ अमेरिकी अर्बपति इलन मस्कको कम्पनी स्प...,"[101, 889, 31222, 11714, 79632, 11267, 852, 10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 11081, 35247, 12347, 20691, 78530, 28462...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[म, ##ंग, ##ल, यात्रा, को, आ, ##शा, ज, ##गा, #...","[का, ##ठ, ##मा, ##ड, ##ौ, ##ँ, अमेरिकी, अ, ##र..."
1,पप सम्राट्को दोस्रो इनिङ,काठमाडौँ त्यतिबेला पपलाई गफ भनिन्थ्यो पश्चिमा ...,"[101, 885, 18187, 898, 45753, 31277, 14835, 28...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 11081, 35247, 12347, 20691, 78530, 28462...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[प, ##प, स, ##म्, ##रा, ##ट, ##्क, ##ो, दो, ##...","[का, ##ठ, ##मा, ##ड, ##ौ, ##ँ, त, ##्य, ##ति, ..."
2,आठ आरोही जन्माउने किमजुङ,काठमाडौँ उनलाई के लाग्छ भने जीवन आफैंमा एक आरो...,"[101, 852, 35247, 107144, 13718, 24667, 25595,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 11081, 35247, 12347, 20691, 78530, 28462...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[आ, ##ठ, आर, ##ो, ##ही, जन्म, ##ा, ##उने, कि, ...","[का, ##ठ, ##मा, ##ड, ##ौ, ##ँ, उन, ##लाई, के, ..."
3,ब्याट नं का अब्बल अधिकृत,काठमाडौँ नेपाल सरकारको अधिकृत ब्याट बेसिक एडमि...,"[101, 887, 17279, 14835, 16373, 11081, 49545, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...","[101, 11081, 35247, 12347, 20691, 78530, 28462...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[ब, ##्या, ##ट, नं, का, अब, ##्, ##बल, अधिकृत]","[का, ##ठ, ##मा, ##ड, ##ौ, ##ँ, नेपाल, सरकार, #..."
4,दैनिक जीवनको एक हिस्सा हाम्रो पात्रो,काठमाडौँ केही समययता नेपालमा सूचना प्रविधि क्ष...,"[101, 882, 76549, 44388, 12512, 11186, 110091,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...","[101, 11081, 35247, 12347, 20691, 78530, 28462...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[द, ##ैनिक, जीवन, ##को, एक, हिस्सा, हा, ##म्, ...","[का, ##ठ, ##मा, ##ड, ##ौ, ##ँ, केही, समय, ##यत..."

In [28]:
# Make sure to use .loc to modify the DataFrame directly, avoiding ambiguity
new.loc[:, 'decoded_title_tokens'] = df['title_token_id'].apply(decode_tokens)
new.loc[:, 'decoded_text_tokens'] = df['text_token_id'].apply(decode_tokens)

new[['title', 'decoded_title_tokens', 'text', 'decoded_text_tokens']].head()

,title,decoded_title_tokens,text,decoded_text_tokens
0,मंगल यात्रा को आशा जगाउने स्टारसिप,"[[CLS], म, ##ंग, ##ल, यात्रा, को, आ, ##शा, ज, ...",काठमाडौँ अमेरिकी अर्बपति इलन मस्कको कम्पनी स्प...,"[[CLS], का, ##ठ, ##मा, ##ड, ##ौ, ##ँ, अमेरिकी,..."
1,पप सम्राट्को दोस्रो इनिङ,"[[CLS], प, ##प, स, ##म्, ##रा, ##ट, ##्क, ##ो,...",काठमाडौँ त्यतिबेला पपलाई गफ भनिन्थ्यो पश्चिमा ...,"[[CLS], का, ##ठ, ##मा, ##ड, ##ौ, ##ँ, त, ##्य,..."
2,आठ आरोही जन्माउने किमजुङ,"[[CLS], आ, ##ठ, आर, ##ो, ##ही, जन्म, ##ा, ##उन...",काठमाडौँ उनलाई के लाग्छ भने जीवन आफैंमा एक आरो...,"[[CLS], का, ##ठ, ##मा, ##ड, ##ौ, ##ँ, उन, ##ला..."
3,ब्याट नं का अब्बल अधिकृत,"[[CLS], ब, ##्या, ##ट, नं, का, अब, ##्, ##बल, ...",काठमाडौँ नेपाल सरकारको अधिकृत ब्याट बेसिक एडमि...,"[[CLS], का, ##ठ, ##मा, ##ड, ##ौ, ##ँ, नेपाल, स..."
4,दैनिक जीवनको एक हिस्सा हाम्रो पात्रो,"[[CLS], द, ##ैनिक, जीवन, ##को, एक, हिस्सा, हा,...",काठमाडौँ केही समययता नेपालमा सूचना प्रविधि क्ष...,"[[CLS], का, ##ठ, ##मा, ##ड, ##ौ, ##ँ, केही, सम..."

In [23]:
df= new[['title_token_id', 'title_attention_mask', 'text_token_id', 'text_attention_mask']]

In [24]:
df.head()

,title_token_id,title_attention_mask,text_token_id,text_attention_mask
0,"[101, 889, 31222, 11714, 79632, 11267, 852, 10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 11081, 35247, 12347, 20691, 78530, 28462...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1,"[101, 885, 18187, 898, 45753, 31277, 14835, 28...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 11081, 35247, 12347, 20691, 78530, 28462...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
2,"[101, 852, 35247, 107144, 13718, 24667, 25595,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 11081, 35247, 12347, 20691, 78530, 28462...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
3,"[101, 887, 17279, 14835, 16373, 11081, 49545, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...","[101, 11081, 35247, 12347, 20691, 78530, 28462...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
4,"[101, 882, 76549, 44388, 12512, 11186, 110091,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...","[101, 11081, 35247, 12347, 20691, 78530, 28462...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."

In [25]:
df.columns

Index(['title_token_id', 'title_attention_mask', 'text_token_id',
       'text_attention_mask'],
      dtype='object')

In [35]:
# Step 2: Check if tokenized title or text exceeds 512 tokens
title_token_length = new['title_token_id'].apply(len)
text_token_length = new['text_token_id'].apply(len)

# Check if any token length exceeds 512
long_titles = title_token_length[title_token_length > 512].count()
long_texts = text_token_length[text_token_length > 512].count()

print(f"Number of titles with more than 512 tokens: {long_titles}")
print(f"Number of texts with more than 512 tokens: {long_texts}")

# Step 3: Check for special characters in title and text
# Non-alphanumeric characters check (ignoring spaces)
def check_special_chars(text):
    return bool(re.search(r'[^A-Za-z0-9\s]', text))  # Checks for non-alphanumeric characters

# Apply to title and text columns
new['title_has_special_chars'] = new['title'].apply(check_special_chars)
new['text_has_special_chars'] = new['text'].apply(check_special_chars)

# Count rows with special characters
title_with_special_chars = new['title_has_special_chars'].sum()
text_with_special_chars = new['text_has_special_chars'].sum()

print(f"Number of titles with special characters: {title_with_special_chars}")
print(f"Number of texts with special characters: {text_with_special_chars}")

Number of titles with more than 512 tokens: 0
Number of texts with more than 512 tokens: 0
Number of titles with special characters: 48412
Number of texts with special characters: 48412

In [36]:
df= new[['title_token_id', 'title_attention_mask', 'text_token_id', 'text_attention_mask']]

In [39]:
# Final Check Before Generating Embeddings

# Check for missing values
missing_values = df[['title_token_id', 'title_attention_mask', 'text_token_id', 'text_attention_mask']].isnull().sum()

# Check if token lengths are valid (must be <= 512)
max_title_length = df['title_token_id'].apply(len).max()
max_text_length = df['text_token_id'].apply(len).max()

# Check if attention masks match the token lengths
invalid_title_attention_mask = ((df['title_attention_mask'].apply(len) != df['title_token_id'].apply(len))).sum()
invalid_text_attention_mask = ((df['text_attention_mask'].apply(len) != df['text_token_id'].apply(len))).sum()

# Check if token lengths are valid (<= 512)
invalid_title_length = (df['title_token_id'].apply(len) > 512).sum()
invalid_text_length = (df['text_token_id'].apply(len) > 512).sum()

# Check for empty rows
empty_title_rows = (df['title_token_id'].apply(len) == 0).sum()
empty_text_rows = (df['text_token_id'].apply(len) == 0).sum()

# Print out results of checks
print("Missing values in columns:")
print(missing_values)

print("\nMax title token length:", max_title_length)
print("Max text token length:", max_text_length)

print("\nInvalid title attention masks (mismatch with token length):", invalid_title_attention_mask)
print("Invalid text attention masks (mismatch with token length):", invalid_text_attention_mask)

print("\nInvalid title token lengths (> 512 tokens):", invalid_title_length)
print("Invalid text token lengths (> 512 tokens):", invalid_text_length)

print("\nEmpty title rows:", empty_title_rows)
print("Empty text rows:", empty_text_rows)

Missing values in columns:
title_token_id          0
title_attention_mask    0
text_token_id           0
text_attention_mask     0
dtype: int64

Max title token length: 512
Max text token length: 512

Invalid title attention masks (mismatch with token length): 0
Invalid text attention masks (mismatch with token length): 0

Invalid title token lengths (> 512 tokens): 0
Invalid text token lengths (> 512 tokens): 0

Empty title rows: 0
Empty text rows: 0

In [48]:
df.shape

(48412, 4)

In [ ]:
df.tail()

,title_token_id,title_attention_mask,text_token_id,text_attention_mask
48418,"[101, 865, 111203, 20429, 91405, 17413, 81489,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 886, 14070, 81489, 50101, 12878, 81489, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
48419,"[101, 887, 12878, 45470, 10914, 12213, 14251, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 867, 75348, 18351, 56523, 15552, 52398, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
48420,"[101, 882, 13432, 99007, 887, 12878, 25501, 12...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 870, 13184, 45052, 11081, 102910, 12151,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
48421,"[101, 57865, 12151, 21147, 61809, 15399, 55190...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 867, 41937, 45319, 11081, 102910, 12151,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
48422,"[101, 887, 111204, 60254, 13718, 868, 14070, 4...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...","[101, 867, 54777, 24962, 11081, 102910, 12151,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."

In [52]:
last_row_index = df.index[-1]
print("Last row index:", last_row_index)
print("while printing df.shape",df.shape)

Last row index: 48411
while printing df.shape (48412, 4)

In [51]:
df = df.reset_index(drop=True)

In [53]:
import os
import numpy as np

# Ensure the directory exists
output_dir = r"C:\Users\ACER\Desktop\Chuncks-5"
os.makedirs(output_dir, exist_ok=True)

# Split DataFrame into 5 parts
num_chunks = 5
chunks = np.array_split(df, num_chunks)

# Save each chunk as a CSV file in the specified folder
for i, chunk in enumerate(chunks):
    chunk.to_csv(f"{output_dir}/chunk_{i+1}.csv", index=False)

"Chunks saved successfully!"

c:\Users\ACER\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

'Chunks saved successfully!'